* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}
.header-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background-color: black;
}

.header-center {
  display: flex;
  gap: 15px;
}

.header-center a {
  text-decoration: none;
  color: white;
}
.o a {
  color: #f57520;
}
